/* Cbeams by James Hilling */

:root {
  --base00: #ffffff;
  --base01: #f5f5f4;
  --base02: #ffffff;
  --base03: #839496;
  --base04: #657b83;
  --base05: #586e75;
  --base06: #073642;
  --base07: #002b36;
  --base08: #dc322f;
  --base09: #cb4b16;
  --base0A: #839496;
  --base0B: #deb45b;
  --base0C: #2aa198;
  --base0D: #586e75;
  --base0E: #6c71c4;
  --base0F: #d33682;
}
