/* Solarized Dark by Ethan Schoonover (modified by James5979) */

:root {
        --base00: #002b36;
        --base01: #073642;
        --base02: #002b36;
        --base03: #073642;
        --base04: #586e75;
        --base05: #839496;
        --base06: #eee8d5;
        --base07: #fdf6e3;
        --base08: #dc322f;
        --base09: #b58900;
        --base0A: #fabd2f;
        --base0B: #859900;
        --base0C: #2aa198;
        --base0D: #268bd2;
        --base0E: #d33682;
        --base0F: #a89984;
}
